* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.submitButton {
    height: 30px;
}

html,
body {
    margin: 0;
    
}

body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
}

.sidebar {
    grid-row: span 2;
    
}

.sidebar,
#footer,
#header {
    background-color: cadetblue;
}

footer {
    margin-bottom: 0;
}

.table {
    width: 100%;
    margin: 0;
}

.tablerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr {
    border-radius: 3px;
    border: 1px solid black;
    height: 2em;
    margin: 10px 0;
    margin-top: -1px;
    display: flex;
    width: 100%;
}

td {
    flex:1;
    text-align: center;
    align-self: center;
}